<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/chat.css">
    <title>Messanger</title>
</head>

<body>
    <main>
        <div class="sidebar">
            <header>
                <h1>
                    Chats
                </h1>
                <input type="text" class="SearchBar">
            </header>
            <div class="chats">
                <ul>
                    <li>
                        <div class="chat">
                            <span>User name</span>
                            <span>Last message</span>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="chatContainer">
            <div class="info">
                <img src="" alt="">
                <span>user name</span>
            </div>
            <div class="messages">
                <ul>
                    <li>message1</li>
                    <li>message2</li>
                    <li>message3</li>
                </ul>
            </div>
            <div class="actions">
                <input type="text">
                <button type="submit">send</button>
            </div>
        </div>
    </main>
</body>

</html>