<!DOCTYPE html>
<html lang="en">
<%- include('./partialls/header.ejs'); %>

    <body>
        <main>
            <section class="container1">
                <h1>
                    Hangout <br>
                    anytime
                    anywere
                </h1>
                <span>Messanger makes it easy and fun to stay close to your favorite peaple</span>
                <form action="/users/login">
                    <div class="inputs">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="actions">
                        <button type="submit">Log in</button>
                        <a href="/forgotPassword">forgotten your password</a>
                    </div>
                </form>
            </section>
            <section class="container2">
                <div class="mainPicture">
                    <img src="./images/mainImage.png" alt="mainImage">
                </div>
            </section>
        </main>
    </body>

</html>